@import url(styles/linhas.css);
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

:root {
    --cor-fundo-sombra: #0000009a;
    --cor-fundo-claro: #F2EDE4;
    --cor-fundo-escuro: #8C7241;
    --cor-efeito: #BDA67D;
    --cor-texto: #101720;
    --cor-errado: #c53f32;
    --cor-borracha: #f7f1e8;
    --fonte: "DM Serif Display", serif;
    --numero: "Handlee";
}

body {
    background-color: var(--cor-efeito);
    color: var(--cor-texto);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: var(--fonte);
}

.conteudo {
    background-color: var(--cor-fundo-claro);
    box-shadow: 1px 1px 8px var(--cor-fundo-sombra);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2em 0;
    max-width: 1000px;
    padding: 0 2em;
}

.conteudo__box__titulo {
    color: var(--cor-fundo-escuro);
    margin-top: 0.3em;
    font-size: 42px;
}

.conteudo__box__subtitulo {
    color: var(--cor-texto);
    text-align:center;
    font-size: 18px;
    margin-top: 0.5em;
}

.conteudo__borda {
    background-color: var(--cor-fundo-escuro);
    margin-top: 1em;
    width: 600px;
    height: 15px;
}

.conteudo__valor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1.5em auto;
}

.conteudo__valor__reiniciar {
    background-color: var(--cor-efeito);
    border: none;
    border-radius: 0.5em;
    padding: 0 0.3em;
}

.conteudo__valor__reiniciar-ativado,
.conteudo__valor__reiniciar:hover {
    background-color: var(--cor-fundo-escuro);
    transition: 0.5s;
}

.conteudo__valor__reiniciar:active {
    transition: 0.1s;
    transform: scale(0.95);
}

.conteudo__valor__aleatorio {
    background-color: var(--cor-efeito);
    border-radius: 0.8em;
    padding: 0.2em 0.5em;
    font-family: var(--numero);
    font-size: 62px;
    transition: 0.5s;
}

.conteudo__valor__aleatorio-inativo {
    background-color: var(--cor-borracha);
    color: var(--cor-fundo-claro);
}

.conteudo__valor__pontos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
    background-color: var(--cor-texto);
    color: var(--cor-fundo-escuro);
    padding: 0.2em 0.5em;
    font-size: 18px;
    border-radius: 0.5em;
}

.conteudo__valor__pontos__valor {
    color: var(--cor-efeito);
    font-size: 52px;
}

.conteudo__lista {
    border: solid 0.5em var(--cor-efeito);
    border-radius: 1em;
    margin-top: 1.5em;
    padding: 1em;
    transition: 0.5s;
}

.conteudo__lista__inativo {
    border: solid 0.5em var(--cor-borracha);
}

.conteudo__lista__valores {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.3em;
    font-size: 24px;
}

.conteudo__lista__valores__botao-errado,
.conteudo__lista__valores__botao {
    background-color: var(--cor-efeito);
    border: none;
    border-radius: 1em;
    padding: 0.5em 0.8em;
    font-family: var(--fonte);
    font-size: 16px;
    transition: 0.5s;
}

.conteudo__lista__valores__botao:hover {
    background-color: var(--cor-fundo-escuro);
    color: var(--cor-texto);
    transition: 0.5s;
}

.conteudo__lista__valores__botao:active {
    background-color: var(--cor-texto);
    color: var(--cor-fundo-escuro);
    transition: 0.1s;
    transform: scale(0.9);
}

.conteudo__lista__valores__botao-errado {
    background-color: var(--cor-borracha);
    color: var(--cor-fundo-claro);
    transition: 0.3s;
}

.conteudo__tentativas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 0.5em;
    font-size: 24px;
    font-weight: 700;
}

.conteudo__tentativas__sem-carimbo {
    color: var(--cor-borracha);
    border: solid 0.3em var(--cor-borracha);
    padding: 0.2em;

}

.conteudo__tentativas__com-carimbo {
    color: var(--cor-errado);
    border: solid 0.3em var(--cor-errado);
    padding: 0.2em;
    transition: 0.5s;
    animation: errado 0.5s;
}

@keyframes errado {
    0% {margin-bottom: 0;}
    25% {margin-bottom: 5px; scale: 1.3;}
    50% {margin-bottom: 0;}
    75% {margin-bottom: -5px; scale: 0.8;}
    100% {margin-bottom: 0;}
  }

.conteudo__final {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin: 1em 0;
    width: 500px;
}



@media screen and (max-width: 480px)  {
    .conteudo {
        max-width: 350px;
    }

    .conteudo__valor__aleatorio {
        border-radius: 0.8em;
        padding: 0.2em 0.5em;
        font-family: var(--numero);
        font-size: 42px;
    }

    .conteudo__borda {
        margin-top: 1em;
        width: 350px;
        height: 7px;
    }

    .conteudo__valor {
        margin: 0.5em 0 1em 0;
    }

    .conteudo__valor__reiniciar {
        order: -1;
    }

    .conteudo__valor__pontos {
        order: -1;
        font-size: 12px;
    }

    .conteudo__valor__pontos__valor {
        font-size: 36px;
    }
    
    .conteudo__tentativas {
        gap: 0.5em;
        font-size: 17px;
    }

    .conteudo__final {
        margin: 1em 0;
        width: 300px;
        font-size: 12px;
    }

    .conteudo__final__barras,
    .conteudo__final__barras img {
        max-width: 300px;
        max-height: 25px;
        width: auto;
        height: auto;
    }
}