@import url(styles/linhas.css);
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

:root {
    --cor-fundo-claro: #F8F0E5;
    --cor-fundo-escuro: #DAC0A3;
    --cor-efeito: #EADBC8;
    --cor-borracha: #EFEAE4;
    --cor-destaque: #101720;
    --cor-principal: #00325D;
    --cor-texto: #5A6D92;
    --cor-errado: #ED6A5E;
    --fonte: "DM Serif Display", serif;
    --numero: "Handlee";
}

body {
    color: var(--cor-principal);
    background-color: var(--cor-fundo-claro);
    box-sizing: border-box;
    height: 100vh;
    font-family: var(--fonte);
    font-size: 16px;
    font-weight: 500;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.conteudo__box__titulo {
    font-size: 48px;
}

.conteudo__box__subtitulo {
    font-size: 18px;
    color: var(--cor-texto);
    text-align: start;
}

.conteudo__valor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1.5em auto;
}

.conteudo__valor__reiniciar {
    background-color: var(--cor-efeito);
    border: none;
    border-radius: 0.5em;
    padding: 0 0.3em;
}

.conteudo__valor__reiniciar-ativado,
.conteudo__valor__reiniciar:hover {
    background-color: var(--cor-fundo-escuro);
}

.conteudo__valor__aleatorio {
    background-color: var(--cor-fundo-escuro);
    border-radius: 0.8em;
    padding: 0.2em 0.5em;
    font-family: var(--numero);
    font-size: 72px;
}

.conteudo__valor__aleatorio-inativo {
    background-color: var(--cor-borracha);
    color: var(--cor-fundo-claro);
}

.conteudo__valor__pontos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    padding: 0.2em 0.5em;
    font-size: 18px;
    border-radius: 0.5em;
}

.conteudo__valor__pontos__valor {
    color: var(--cor-fundo-claro);
    font-size: 52px;
}

.conteudo__lista {
    border: solid 0.5em var(--cor-efeito);
    border-radius: 1em;
    background-color: var(--cor-fundo-claro);
    margin-top: 1.5em;
    padding: 1em;
}

.conteudo__lista__inativo {
    border: solid 0.5em var(--cor-borracha);
    border-radius: 1em;
    padding: 1em;
}

.conteudo__lista__valores {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
    font-size: 24px;
}

.conteudo__lista__valores__botao-errado,
.conteudo__lista__valores__botao {
    background-color: var(--cor-efeito);
    border: none;
    border-radius: 1em;
    padding: 0.5em 0.8em;
    font-family: var(--fonte);
    font-size: 16px;
}

.conteudo__lista__valores__botao:hover {
    background-color: var(--cor-fundo-escuro);
    color: var(--cor-principal);
}

.conteudo__lista__valores__botao:active {
    background-color: var(--cor-principal);
    color: var(--cor-fundo-escuro);
}

.conteudo__lista__valores__botao-errado {
    background-color: var(--cor-borracha);
    color: var(--cor-fundo-claro);
}

.conteudo__tentativas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 0.5em;
    font-size: 24px;
    font-weight: 700;
}

.conteudo__tentativas__sem-carimbo {
    color: var(--cor-borracha);
    border: solid 0.5em var(--cor-borracha);
    padding: 0.2em;
}

.conteudo__tentativas__com-carimbo {
    color: var(--cor-errado);
    border: solid 0.5em var(--cor-errado);
    padding: 0.2em;
}
